extends layout

block content
  h1= title
  
  if messages.length
    for message in messages 
      div
        h4 #{message.title}
        p #{message.content}
        
        if user
          if user.membership_status
            p User: #{message.user.fullname}
            p Date: #{message.timestamp}
          else
            p User: Anonymous
            p Date: unknown 

          if user.isAdmin
            p 
              a(href=message.url +'/delete') update message 
            p 
              a(href=message.url +'/delete') delete message   


  else 
    p No messages
