extends layout

block content
 div.container-fluid
    h1=title
    h3 Welcome #{user.fullname}
    form(method="POST" action=(undefined == message ?'' : message.url+'/update'))
        input(type="hidden" name='user_id' value=user._id)
        div 
            label(for="title")
            input(type="text" name="title" required=true placeholder="Title ........" value=(undefined == message ?'' : message.title))
        div 
            label(for="content")
            input(type="content" name="content" required=true placeholder="Message Content ........" value=(undefined == message ? '':message.content)) 

        button(type='submit') Submit
        