extends layout

block content 

    h1=title 
    if(message)
        p #{message}
    form(action="" method="POST")
        div 
            label(for="firstname") Firstname:
            input(type="text" name="firstname" required=true)
        div 
            label(for="lastname") Lastname:
            input(type="text" name="lastname" required=true)
        div     
            label(for="email")  Email:
            input(type="email" name="username" required=true)
        div 
            label(for="password") Password:
            input(type="text" name="password" required=true)
        div 
            label(for="confirm_password") Confirm Password:
            input(type="text" name="confirm_password" required=true)
        
        button(type='submit') Submit
